<div class="container-fluid">
  <div class="row settings" style="width: 100%;">

    <div class="col-10 text-left align-self-top">
      <button (click)="onToggleMenu()" mat-icon-button type="button">
        <mat-icon>menu</mat-icon>
      </button>

      <p class="link navbar-brand" (click)="onToggleStat()" *ngIf="showStat && !isMobile">Скрыть статистику</p>
      <p class="link navbar-brand" (click)="onToggleStat()" *ngIf="!showStat && !isMobile">Показать статистику </p>
      <p class="navbar-brand"><span *ngIf="!isMobile">Категория:</span> "{{categoryName}}"</p>
    </div>

    <!--  помощь, настройки-->
    <div class="col-2 text-right align-self-top">
      <button mat-icon-button class="header-icon"
              (click)="showSettings()">
        <mat-icon>settings</mat-icon>
      </button>

      <button *ngIf="!isMobile"
              mat-icon-button class="header-icon"
              (click)="showIntroHelp()">
        <mat-icon>help</mat-icon>
      </button>
    </div>

  </div>
</div>
